#text{
    font-family: Helvetica, sans-serif;
    font-weight: 200;
    font-size: 20px;
}

h1{
    font-weight: 500;
}

input[type=text]{
    font: inherit;
    margin-top: 10px;
    margin-left: 10px;
}

button{
    font: inherit;
    margin: 15px;
}

#container {
    display: grid;
    align-content: center;
}

.gameboard {
    display: none;
    grid-template-columns: 200px 200px 200px;
    grid-template-rows: 200px 200px 200px;
    width: 600px; 
    border: 1px solid black;

    margin-top: 30px;
    align-self: center;
}

.newgame {
    display: block;
}

.gameongoing {
    display: none;
}

.grid {
    border: 1px solid black;

    font-family: Helvetica, sans-serif;
    font-weight: 100;
    font-size: 180px;
    text-align: center;
}
